*.pyc

# ignore accessibility network files
*access_network_edges.csv
*access_network_nodes.csv
*accessibility_params.json

# ignore buildings data as files are too large
# obtained from https://www.eia.gov/consumption/
*2012_public_use_data_aug2016.csv
*recs2015_public_v4.csv

# Ignore local jupyter notebook files
.ipynb_checkpoints/*
*.ipynb

# Ignore config file that might contain API keys and local paths
config.py

# Ignore files in directory that contains locally downloaded shapefiles
tables/shapes/*

# Track directory with Kendall bounds (useful for testing)
!tables/shapes/bounds

# Ignore files in innovation_data directory, except for the fitted lasso coefficients
tables/innovation_data/*
!tables/innovation_data/lasso_coefs.csv
