*.pyc

# Ignore config file that might contain API keys and local paths
config.py

# Ignore files in directory that contains locally downloaded shapefiles
tables/shapes/*

# Track directory with Kendall bounds (useful for testing)
!tables/shapes/bounds