*.pyc

# Ignore local jupyter notebook files
.ipynb_checkpoints/*
*.ipynb

# Ignore config file that might contain API keys and local paths
config.py

# Ignore files in directory that contains locally downloaded shapefiles
tables/shapes/*

# Track directory with Kendall bounds (useful for testing)
!tables/shapes/bounds

# Ignore files in innovation_data directory, except for the fitted lasso coefficients
tables/innovation_data/*
!tables/innovation_data/lasso_coefs.csv